ion-card {
  margin: 12px;
}
ion-card-header {
  background: #430066; // Your purple color
  color: white;
  border-radius: 8px 8px 0 0;
}
.rehearsal-card {
  background-color: #430066;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
}
