<ion-header>
  <ion-toolbar> <ion-title>Roles & Volunteers</ion-title>
  </ion-toolbar> </ion-header>

<ion-content class="ion-padding">
  <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">
    
    <ion-segment-button value="roles" [routerLink]="['/tabs/roles']">
      <ion-label>ROLES</ion-label>
    </ion-segment-button>

    <ion-segment-button *ngIf="authService.isAdmin()" value="manage-roles" [routerLink]="['/tabs/roles/manage-roles']">
      <ion-label>MANAGE ROLES</ion-label>
    </ion-segment-button>

    <ion-segment-button *ngIf="authService.isAdmin()" value="members" [routerLink]="['/tabs/roles/members']">
      <ion-label>MEMBERS</ion-label>
    </ion-segment-button>
  </ion-segment>

  <router-outlet></router-outlet> 
</ion-content>