<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">Upcoming Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Schedule Card -->
  <ion-card class="schedule-card">
    <ion-card-header>
      <ion-card-title>Sunday, June X</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngFor="let item of lineup" lines="none" class="role-item">
        <ion-label>{{ item.role }}</ion-label>
        <ion-badge [color]="getBadgeColor(item.status)">
          {{ item.status }}
        </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Rehearsal Info -->
  <ion-card class="rehearsal-card">
    <ion-card-header>
      <ion-card-title>Rehearsal Day</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Saturday 00:00</p>
      <p>Devotion host - Bro. Alden</p>
      <p>Devotion speaker - Bronny</p>
    </ion-card-content>
  </ion-card>

  <div class="role-info">
    <div *ngIf="authService.isAdmin()">Welcome, Admin!</div>
    <div *ngIf="authService.isWorshipLeader()">Welcome, Worship Leader!</div>
    <div *ngIf="authService.hasRole('member')">Welcome, Member!</div>
    <div *ngIf="authService.hasPosition('main keyboard')">You play Main Keyboard.</div>
  </div>


</ion-content>
