.schedule-card, .rehearsal-card {
  background: #5e0c77; // deep purple
  color: white;
  border-radius: 15px;
}

.role-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-badge {
  font-size: 0.8rem;
  text-transform: capitalize;
}

.footer-tabs {
  ion-tab-bar {
    background: #5e0c77;
    color: white;
  }

  ion-tab-button {
    --color: white;
  }
}
